PORT=3003

FRONTEND_URL=http://localhost:4200

SEED_USER_EMAIL=admin@essentia.local
SEED_USER_PASSWORD=admin123

DB_HOST=localhost
DB_PORT=3307
DB_USERNAME=username
DB_PASSWORD=password
DB_DATABASE=database

MONGO_URI=mongodb://localhost:27017/essentia_task_history

JWT_SECRET=dev-secret-change-me
