<section>
  <h1>Tarefas</h1>

  <app-task-form
    [taskToEdit]="editingTask()"
    [saving]="saving()"
    (taskCreated)="createTask($event)"
    (taskUpdated)="updateTask($event)"
  />

  @if (actionError()) {
    <p>{{ actionError() }}</p>
  }

  @if (loading()) {
    <p>Carregando tarefas...</p>
  } @else if (errorMessage()) {
    <p>{{ errorMessage() }}</p>
  } @else {
    <app-task-list
      [tasks]="tasks()"
      [processingTaskId]="processingTaskId()"
      (completionChanged)="updateCompletion($event.id, $event.completed)"
      (taskDeleted)="deleteTask($event)"
      (taskEditRequested)="startEditing($event)"
    />
  }
</section>
